.container{
  width: 50%;
  margin: 0 auto;
  margin-top: 5rem;
}

.frm{
  margin-top: 1rem;
}
.feild{
 margin: 1rem 0;
}

.feild input{
  padding: .3rem;
  width: 80%;
  font-size: 1.4rem;
}
.btn{
  padding: .5rem  1rem;
  background-color: rgb(136, 136, 187);
  
}